<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm" novalidate>
        <ion-list>
            <ion-item>
                <ion-label position="stacked" color="primary">Username</ion-label>
                <ion-input formControlName="username" name="username" type="text"
                           spellcheck="false" autocapitalize="off"
                           required>
                </ion-input>
            </ion-item>

            <ion-text color="danger">
                <p [hidden]="(loginForm.get('username').invalid || loginForm.get('username').touched) || loginForm.get('username').valid"
                   padding-left>
                    Username is required
                </p>
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input formControlName="password" name="password" type="password" required>
                </ion-input>
            </ion-item>

            <ion-text color="danger">
                <p [hidden]="(loginForm.get('password').invalid || loginForm.get('password').touched) || loginForm.get('password').valid"
                   padding-left>
                    Password is required
                </p>
            </ion-text>
        </ion-list>

        <ion-text color="danger">
            <p [hidden]="!authFail"
               padding-left>
                Usuario o contraseña invalidos!
            </p>
        </ion-text>
        <ion-row responsive-sm>
            <ion-col>
                <ion-button [disabled]="loginForm.invalid" (click)="onLogin()" expand="block">Login
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
